@import "../fragment/yo-header";
body{font-family:"微软雅黑";
    font-size:12px;
    margin:0;
    padding:0;
    border:none;
}
html,div,p,span,form,legend,fieldset,h1,h2,h3,h4,h5,h6,hr,ul,li,ol,dl,dd,dt,nr{
    margin:0;padding:0;
    border:none;
}
button,img,a,input,textarea,th,td,table,lable{
    margin:0;padding:0;
}
a{text-decoration:none;color:#000}
ul,li,ol{list-style:none}
img{border:none;display:blcok;}
.clear{height:0;overflow:hidden;font-size:0;clear:both}
body,html{height:100%}
#root {
  height: 100%;
}

@font-face {
  font-family: 'iconfont';  /* project id 263781 */
  src: url('//at.alicdn.com/t/font_yxl0ua44y9q6ko6r.eot');
  src: url('//at.alicdn.com/t/font_yxl0ua44y9q6ko6r.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_yxl0ua44y9q6ko6r.woff') format('woff'),
  url('//at.alicdn.com/t/font_yxl0ua44y9q6ko6r.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_yxl0ua44y9q6ko6r.svg#iconfont') format('svg');
}
.iconfont{
    font-family: "iconfont";
    font-style: normal;
  }
@include yo-header(
  $name: a,
  $bgcolor: #fff,
  $border-width: 0,
  $item-ico-color: #fff,
  $font-size: .2rem,
  $color: #000
  ){
      
}
